#shop {
    float: right;
    background-color: grey;
    width: 500px;
    height: 96vh;
}
#casino{
    float: right;
    background-image: url('img/casino.png');
    background-repeat: repeat;
    width: 500px;
    height: 96vh;
}
#bank{
    float: right;
    background-image: url('img/gold.png'); 
    width: 500px;
    height: 96vh;
}
#maingame {
    height: 100%;
    overflow: hidden;
}
button {
    padding: 5px;
    margin: 3px;
}

#buttons {
    float: right;
}
#clicker {
    cursor: pointer;
}

#slot-machine { margin: 50px auto; 
}
.slot { 
    display: inline-block; width: 50px; height: 50px; border: 1px solid #000; line-height: 50px; 
    background-color: white;
}
#spin-button { 
    margin-top: 20px; padding: 10px 20px; 
}
#result { 
    margin-top: 20px; font-size: 1.2em; 
}
body {
    background-repeat: no-repeat;
}

/* CSS */
.button-4 {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 4px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 10px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-4:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}

/* CSS */
.button-7 {
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 5px;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-7:hover,
.button-7:focus {
  background-color: #07c;
}

.button-7:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button-7:active {
  background-color: #0064bd;
  box-shadow: none;
}

h1, p{
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    padding: 2px;
    margin-top: 0px;
}